body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
body img{
    display: block;
    margin: auto;
    height: 40px;
    margin-top: 8px;
}
body h1{
    color:yellow;
    text-align: center;
    margin-top: 4px;
}
#welcome{
    color: yellow;
    text-align: center;
    margin-top: 4px;
}
.container{
    border: 2px solid yellow;
    height: 400px;
    width: 600px;
    display: block;
    margin: auto;
    border-radius: 20px;
    overflow-y: auto;
}
.msg{
    color: white;
    text-align: center;
}
.left{
    float: left;
    background-color: #85851b;
    padding: 30px 50px;
    margin: 16px 20px;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 20px;
    clear: both;
}
.right{
    float: right;
    background-color: #85851b;
    padding: 30px 50px;
    margin: 16px 20px;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 20px;
    clear: both;
}
.send{
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    width: 546px;
    height: 34px;
    margin: 3px auto;
    border-radius: 6px;
    background-color: #d8d86d;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
#btn{
    padding: 10px 6px;
    border-radius: 4px;
    background-color: #d8d86d;
}
.message{
    color: white;
    font-weight: bold;
    font-size: 20px;
}