<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up successful</title>
    <link rel="stylesheet" href="../img/login.css">
</head>
<body>
    <h1>Welcome To Yellow Chat APP</h1>
    <form action="/login2" method="post">
        <div class="cont">
        <input type="email" name="email" id="email" class="all" placeholder="Enter your mail">
        <input type="password" name="password" id="password" class="all" placeholder="Enter your password">
        <button type="submit" id="btn" class="all">Login</button>
        <h4 class="all"><a href="/" class="ok">Sign Up</a></h4>
    </div>
    </form>
</body>
</html>