<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../img/signup.css">
    <script defer src="../img/prev.js"></script> 
</head>
<body>
    <h1>Welcome To Yellow Chat APP</h1>
    <form action="/login" method="post">
        <div class="cont">
        <input type="text" name="name" id="name" class="all" placeholder="Enter Your Name">
        <input type="email" name="email" id="email" class="all" placeholder="Enter Your Mail">
        <input type="number" name="phone" id="phone" class="all" placeholder="Enter Your Phone No.">
        <input type="password" name="password" id="password" class="all" placeholder="Enter Your Password">
        <input type="password" name="confirmpassword" id="confirm" class="all" placeholder="Confirm Password">

        <button type="submit" id="btn" class="all">Sign Up</button>
        <h4 class="all"><a href="/login2" class="ok">Login</a></h4>
    </div>
    </form>
</body>
</html>